body {
    font-family: 'Helvetica', sans-serif;
    background-color: #eef2f6;
    margin: 0;
    padding: 0;
}

.form-foto-user {
    max-width: 350px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #333;
    margin-bottom: 15px;
    font-size: 1.5em;
}

input[type="file"] {
    display: block;
    margin: 10px auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: calc(100% - 22px); /* Ajusta para el padding */
    font-size: 14px;
}

button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: 30%;
    transition: background-color 0.2s;
}

button:hover {
    background-color: #0056b3;
}

p {
    text-align: center;
  
    margin-top: 15px;
    font-weight: bold;
}
