/* Estilos generales para el formulario */
.form-login {
    width: 100%;
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    font-size: 14px;
    color: #333;
    margin-bottom: 8px;
  }
  
  .form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    color: #333;
    background-color: #fff;
    box-sizing: border-box;
  }
  
  .form-group input:disabled {
    background-color: #f0f0f0;
  }
  
  .form-group input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s;
  }
  
  .form-group input[type="submit"]:hover {
    background-color: #45a049;
  }
  /* Estilo para los mensajes de error */
.error-message {
    color: red; /* Rojo para los errores */
    font-size: 14px;
    margin-top: 5px;
    font-weight: bold;
  }
  
  /* Estilo para el mensaje de éxito */
  .success-message {
    color: green; /* Verde para el éxito */
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    background-color: #d4edda; /* Fondo suave verde */
    padding: 10px;
    border-radius: 5px;
  }
  
  /* Estilo para los campos de entrada cuando hay error */
  .form-control.is-invalid {
    border-color: red;
    background-color: #f8d7da;
  }
  
  /* Opcional: Estilo para el borde de los campos válidos */
  .form-control.is-valid {
    border-color: green;
    background-color: #d4edda;
  }
  

  
  @media (max-width: 480px) {
    .form-login {
      margin: 20px;
      padding: 15px;
    }
  
    .form-group input {
      padding: 8px;
    }
  
    .form-group input[type="submit"] {
      padding: 12px;
    }
  }
  